.bar-container{
    position: absolute;
    left: 100px;
    
    vertical-align: bottom;
    outline-style: dotted;
    height: 100%;
}


.column {
    display: inline-block;
    width: 2px;
    margin: 0 1px;
    
}